/* @import url('./fonts/Pokemon-font/Pokemon_Solid.ttf'); */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PokemonSolid';
  src: local('PokemonSolid'), url(./fonts/Pokemon-font/Pokemon_Solid.ttf) format('truetype');
}
@layer components{
  .skeleton{
      @apply animate-pulse h-1/2 bg-slate-300 rounded-sm w-full;
  }
}
@layer utilities{
  .pokeFont{
    font-family: 'PokemonSolid';
    -webkit-text-stroke: 1px #2a75bb;
    color:#ffcb05;
  },
  .fixImfg{
    image-rendering: high-quality;
  },
  .filterskeleton{
    filter: invert(92%) sepia(7%) saturate(361%) hue-rotate(171deg) brightness(93%) contrast(89%);
  },
  .typetextshadow{
    text-shadow: 4px 5px 0px #807870;
  }
}